<div style="display:none" id="openDayBanner" class="o-message o-message--notice o-message--pikachu" data-o-component="o-message">
	<div class="o-message__container">
		<div class="o-message__content ">
			<p class="o-message__content-main">
				<span class="header-message">Enjoying this Premium article?</span> <br>
					<span class="o-message__content-highlight">
							READ MORE WITH A PREMIUM SUBSCRIPTION
					</span> <br>
					<span class="lower-message">Upgrade your subscription today for unrestricted access to all the FT has to offer across ft.com, the app and newsletters.</span>
			</p>
				<div class="o-message__actions">
					<a href="https://www.ft.com/manage/subscription/change/da448d11-851d-545c-dc0e-e9a2aef62e54" id="button" class="o-message__actions__primary">Upgrade to premium</a>
				</div>
		</div>
</div>
