<div style="display:none" id="openDayPremiumUpsellBanner" class="o-message o-message--notice o-message--pikachu" data-o-component="o-message" data-n-messaging-component="" aria-live="polite">
	<div class="o-message__container">
		<div class="o-message__content">
			<div class="main-content">
				<p class="header-message">This Premium article and all others are free to read today</p>
					<p class="o-message__content-highlight">
						WANT UNRESTRICTED ACCESS EVERYDAY?
					</p>
					<p class="lower-message">Upgrade to a Premium Digital subscription to gain unlimited access to all we have to offer across ft.com, the app and newsletters.</p>
			</div>
			<div class="o-message__actions">
					<a data-o-message-action href="https://www.ft.com/manage/subscription/change/da448d11-851d-545c-dc0e-e9a2aef62e54" class="upgrade-to-premium-btn o-message__actions__primary">Upgrade to Premium</a>
			</div>
		</div>
	</div>
</div>
