{{> n-messaging-client/server/templates/components/o-message
	theme='us-election-2020-discount-promo'
	contentTitle='<span class="o-message__content-highlight_part1">WHAT\'S NEXT</span> FOR AMERICA?'
	contentDetail='Steer through uncertainty with the Financial Times'
	buttonUrl='https://subs.ft.com/specialofferus?segmentId=6bc930e8-52c0-8e48-32bf-0a0be69db204&utm_us=JJIBAT'
	buttonLabel='Subscribe now and save 33%*'
	buttonExplanatoryText='*terms and conditions apply'
	closeButton=false
	customClass=''
}}
