<div class="n-messaging-client-banner">
	<div class="o-banner__inner" data-o-banner-inner="">
		<div class="o-banner__content">
			<header class="o-banner__heading">
				<h1>
					<span class="o-banner__heading_part1">WHAT'S NEXT</span>
					FOR AMERICA?
				</h1>
				<p>Steer through uncertainty with the Financial Times</p>
			</header>
		</div>
		<div class="o-banner__actions">
			<a href="https://subs.ft.com/specialofferus?segmentId=6bc930e8-52c0-8e48-32bf-0a0be69db204&utm_us=JJIBAT">
				<div class="o-banner__action">
					Subscribe now and save 50%
				</div>
			</a>
			<div class="o-banner__terms_and_conditions">
				* terms and coditions apply
			</div>
		</div>
	</div>
</div>
