$o-message-is-silent: false;

@import "o-buttons/main";
@import "o-colors/main";
@import "o-grid/main";
@import "o-icons/main";
@import "o-typography/main";

@import 'o-message/main';
@import 'o-banner/main';
@import './src/components/nav-messaging-tooltip';

@include oFontsInclude(MetricWeb);
@include oFontsInclude(MetricWeb, $weight: semibold);

@include oMessage($class: 'n-alert-banner', $types: 'alert', $status: 'all');

// set base font
.n-alert-banner,
.n-messaging-banner {
	font-family: sans-serif;
	font-size: 0.8125em;
}
