.n-messaging-client-alert-banner--marketing__us-election {
	display: flex;
	flex-direction: column;

	@include oGridRespondTo('M') {
		flex-direction: row;
	}

	.o-message--alert {
		padding: 0;
	}

	.o-message__content {
		align-items: center;
		flex-direction: column;
		justify-content: space-around;
		margin-left: -20px;

		@include oGridRespondTo(M) {
			flex-direction: row;
			align-items: center;
			height: 60px;
			margin-left: 0;
		}
	}

	.o-message__content-main {
		font-size: 16px;
		line-height: 20px;
		@include oGridRespondTo(M) {
			@include oTypographyDisplay($scale: 2, $include-font-family: false);
		}
	}

	.o-message__actions--clickarea {
		cursor: pointer;
	}

	&--gradient {
		background: linear-gradient(to right, #082A4D, #CC0000);
		color: oColorsByName('white');

		.o-message__actions__primary {
			@include oButtonsContent($opts: (
				'type': 'primary',
				'theme': 'inverse'
			), $include-base-styles: false);
			margin-right: 0;
		}
	}
}
