/* stylelint-disable selector-class-pattern */
/* higher specificity is needed as competing styles are lazily loaded in main.scss */
.n-messaging-slot--privacyPolicy[data-n-messaging-name="privacyPolicy"] {
	.n-alert-banner {
		border-bottom: 1px solid getColor('black-20');
	}

	.n-alert-banner__container {
		padding: 0px 20px 0px 20px;
	}

	.n-alert-banner__content {
		margin-left: 0;
		padding-left: 0;
		&:before {
			display: none;
		}
	}

	.n-alert-banner__content-main {
		margin-top: 8px;
		margin-bottom: 8px;
		margin-right: 8px;
	}
}
/* stylelint-enable */
