.n-messaging-client-messaging-banner--marketing-popup-prompt-sept {
	.o-banner__outer {
		.o-banner__inner {
			background-color: oColorsByName("slate");
			color: oColorsByName("white");
			font-size: 18px;
			font-weight: 20px;

			.n-messaging-banner__heading h1,
			.n-messaging-banner__heading h2 {
				color: oColorsByName("brand-ft-pink");
			}

			.n-messaging-banner__heading:after {
				border-color: oColorsByName("slate");
			}

			.o-banner__content ul li {
				font-size: 18px;
				font-weight: 20px;
			}

			.o-banner__action {
				.o-banner__button {
					margin-top: oSpacingByName("s4");
					background-color: oColorsByName("brand-ft-pink");
					color: oColorsByName("black");
				}
			}

			.o-banner__close {
				background-image: url(https://www.ft.com/__origami/service/image/v2/images/raw/fticon-v1:cross?source=o-icons&tint=%23FFFFFF,%23FFFFFF&format=svg);
			}
		}
	}
}
