.n-messaging-client-messaging-banner-post-activation-journey {
	& .o-banner__actions {
		display: flex;
		justify-content: space-between;

		& .o-banner__action {
			background-color: oColorsByName("teal");
		}
	}

	&--close,
	& --close:hover {
		color: grey;
	}

	& .o-banner__close {
		display: none;
	}
}
