<div class="n-app-banner js-n-app-banner-wrapper">
    <div class="o-grid-container">
        <img alt="" class="n-app-banner__device n-ui-hide-core" src="https://www.ft.com/__origami/service/image/v2/images/raw/http%3A%2F%2Fwww.ft.com%2F__assets%2Fcreatives%2Fonboarding%2Fios-app.png?source=n-ui&width=120">

        <div class="n-app-banner__container" data-o-grid-colspan="12">
            <span class="n-app-banner__strapline">
                <p>Get the most from your FT subscription.</p>
                <p>
                    <strong>Read the FT app anywhere</strong>, even when you&rsquo;re offline.</p>
            </span>
            <form action="/email-app-links" method="POST" class="n-app-banner__form js-n-app-banner-form">
                <span class="n-app-banner__success">
                    <strong>Thanks.</strong> We&rsquo;ve sent you a link to the FT app.
                </span>
                <button type="submit" class="n-app-banner__button js-n-app-banner-button">
                    Email me the link
                </button>
                <div class="n-app-banner__error-message js-n-app-banner-error-message"></div>
            </form>
        </div>
        <i class="n-app-banner__close js-app-banner-close"></i>
    </div>
</div>

<!-- Add fallback if browsers don't cut the mustard -->
<div class="o-tracking o--if-no-js" data-o-component="o-tracking">
    <div style="background:url('https://spoor-api.ft.com/px.gif?data=%7B%22category%22%3A%22component%22%2C%20%22action%22%3A%22view%22%2C%20%22messaging%22%3A%20%22desktop-app-banner%22%2C%20%22system%22%3A%7B%22apiKey%22%3A%22%7B%7Bprocess.env.SPOOR_API_KEY%7D%7D%22%2C%22source%22%3A%22o-tracking%22%2C%22version%22%3A%221.0.0%22%7D%2C%22context%22%3A%7B%22product%22%3A%22ft.com%22%2C%22content%22%3A%7B%22asset_type%22%3A%22component%22%7D%7D%7D');"></div>
</div>