<div class="school-leaver__wrapper">
	{{> n-messaging-client/templates/components/n-messaging-banner
		themeMarketing='true'
		small='true'
		contentLong = '
		<header class="school-leaver__header">
			<h1 class="school-leaver__header">Going to University or College this year?</h1>
		</header>
		<p class="school-leaver__sub-heading">Save 50% with our exclusive student offer and:</p>
		<ul class="school-leaver__list">
				<li>Stand out from the crowd</li>
				<li>Jump start your assignments</li>
				<li>Ace that interview</li>
		</ul>
		'
	
		contentShort = '
	    <header id="usa" class="n-messaging-banner__heading">
			<h1>Going to University or College this year?</h1>
		</header>
		<p>Save 50% with our exclusive student offer:</p>
		<ul>
			<li>Stand out from the crowd</li>
			<li>Jump start your assignments</li>
			<li>Ace that interview</li>
		</ul>
		    '
		buttonLabel='Subscribe now - save 50%'
		buttonUrl='https://www.ft.com/student'
		renderOpen='true'
	}}
</div>
