@import '@financial-times/o-colors/main';
@import '@financial-times/o-grid/main';

[data-n-messaging-name="academiaCTA"] .o-banner__outer {
	background-color: oColorsByName('white-80');
}

[data-n-messaging-name="academiaCTA"] .o-banner__content {
	width: 100%;
	box-sizing: border-box;
}

.academia-cta {
	&-hero-image {
		text-align: center;
		margin-bottom: 36px;

		img {
			display: inline-block;
		}
	}

	&-heading h1 {
		font-size: 24px;
		line-height: 1;
		margin-bottom: 16px;
		color: oColorsByName('slate');

		@include oGridRespondTo(L) {
			font-size: 28px;
		}
	}

	&-body-text {
		font-size: 20px;
		line-height: 1.78;
		color: oColorsByName('black-70');

		p {
			margin-bottom: 12px;
		}

		@include oGridRespondTo(L) {
			font-size: 28px;
			line-height: 1.14;

			p {
				margin-bottom: 32px;
			}
		}
	}

	&-media {
		display: flex;

		&__text {
			flex: 1;
			padding-right: 86px;
			min-width: 0;
		}
	}

	&-url-selector {
		display: flex;
		flex-wrap: wrap;

		&__url {
			display: flex;
			align-items: center;
			flex: 1;
			box-sizing: border-box;
			padding: 8px;
			min-height: 40px;
			width: 100%;
			border: 1px solid oColorsByName('teal');
			background-color: oColorsByName('white');
			min-width: 0; // hack to prevent container growing wider than 100%
		}

		a {
			background-image: url('https://www.ft.com/__origami/service/image/v2/images/raw/fticon-v1:outside-page?source=n-messaging-client&tint=%230D7680,%230D7680&format=svg');
			background-repeat: no-repeat;
			background-size: contain;
			background-position: right 0;
			background-origin: border-box;
			text-decoration: none;
			padding-right: 20px;
			display: inline-block;
			box-sizing: border-box;
			max-width: 100%;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
		}
	}
}
