<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1">

		<link rel="stylesheet" href="public/demo.css">
		<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

	</head>
	<body>
		<h1>Financial Times</h1>

		{{> n-messaging-client/server/templates/slot type='top' }}

		<h2>Page headline</h2>
		<p>Page content.</p>

	{{> n-messaging-client/server/templates/slot type='bottom' }}

	<script src="public/demo.js"></script>

	</body>
</html>
