<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1">

		<link rel="stylesheet" href="public/demo.css">
		<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
		<script type="application/json" id="page-kit-flags-embed">
			{{{flagsObj}}}
		</script>
	</head>
	<body>
		<h1>Financial Times</h1>

		{{> n-messaging-client/server/templates/slot type='top' }}

		<h2>Page headline</h2>
		<p>Page content.</p>
		<b>Docs:</b>
		<p>Limit the variants a slot can display by adding `variants` option as coma separated list of message names:</p>
		<pre></pre>
		<pre>&#123;&#123;> n-messaging-client/server/templates/slot</pre>
		<pre>    type='bottom'</pre>
		<pre>    variants='cookieConsentC,someOtherMessage'</pre>
		<pre>&#125;&#125;</pre>

		{{> n-messaging-client/server/templates/slot type='bottom'}}

		<script src="public/demo.js"></script>
	</body>
</html>
