{{> n-messaging-client/templates/components/n-alert-banner
	theme='error'
	contentLong='<p><b>Deloitte UK has decided not to renew their enterprise subscription to FT.com for all UK staff.</b> From the 31st May you will no longer have full access.</p>'
	contentShort='<p>Deloitte UK has decided not to renew their enterprise subscription to FT.com for all UK staff.</p>'
	linkUrl='https://enterprise.ft.com/en-gb/deloitte-uk-cancellation-notice/'
	linkLabel='Find out how to maintain access'
	closeButton='false'
}}
