$wheatLikeColor: oColorsByName('wheat');
$smallScreenBannerWidth: 375px;

.o-message--us-election-2020-discount-promo {

	background-color: oColorsByName('slate');
	width: 375px;
	margin: auto;
	@include oGridRespondTo(M) {
		width: unset;
	}

	.o-message__content {
		display: flex;
		flex-direction: column;
		margin-right: 10px;

		@include oGridRespondTo($until: M) {
			padding-left: 0 !important; // hacky but seems necessary to remove left space from the small banner
		}

		@include oGridRespondTo(M) {
			flex-direction: row;
			justify-content: space-around;
		}
	}

	.o-message__content-main {
		color: oColorsByName('white');
		font-size: 22px;
		line-height: 17px;
		white-space: nowrap;

		@include oGridRespondTo(M) {
			font-size: 40px;
			line-height: 31px;
		}
	}

	.o-message__content-highlight_part1 {
		color: $wheatLikeColor;
	}

	.o-message__content-detail {
		font-size: 16px;
		display: block;

		@include oGridRespondTo(M) {
			font-size: 28px;
		}
	}

	.o-message__actions {
		text-align: left;

		@include oGridRespondTo(M) {
			margin-top: 16px;
			text-align: right;
		}
	}

	.o-message__actions__primary {
		color: oColorsByName('white');
		padding: 10px;
		font-size: 16px;
		line-height: 20px;
		text-align: center;
		font-weight: unset;
		border: 1px solid $wheatLikeColor;

		@include oGridRespondTo(M) {
			width: 165px;
			font-size: 22px;
		}
	}

	.o-message__actions__primary:hover {
		background-color: $wheatLikeColor;
		color: black;
	}

	.o-message__button-explanatory-text {
		display: block;
		color: oColorsMix(black, paper, 20);
		font-size: 12px;
	}
}
