<div class="n-messaging-client-messaging-banner n-messaging-client-messaging-banner--activationskipped">
	{{#> n-messaging-client/server/templates/components/o-banner
		themeSlateLemon=true
		renderOpen=true
		small=true
		closeLabel="Close the 'Finish customising your FT' banner"
	}}
	<div class="o-banner__inner" data-o-banner-inner="" data-o-banner-inner="">
		<div class="o-banner__content">
			<header class="o-banner__heading">
				<h1><span class="n-messaging-activationskipped__highlight-regular">Take a moment to discover the FT</span></h1>
			</header>
			<p>Select the content that most interests you, from curated newsletters to podcasts and more.</p>
		</div>
		<div class="o-banner__actions">
			<div class="o-banner__action">
				<a href="https://www.ft.com/activate/bundles"
					class="o-banner__button">Pick my content</a>
			</div>
		</div>
	</div>
	{{/n-messaging-client/server/templates/components/o-banner}}
</div>
