<div class="n-messaging-client-messaging-banner n-messaging-client-messaging-banner--activationnotstarted">
	<div class="o-banner o-banner--small o-banner--product" data-o-component="o-banner">
		<div class="o-banner__outer">
			<div class="o-banner__inner" data-o-banner-inner>
			<div class="o-banner__content o-banner__content--long">
				<header class="o-banner__heading">
				<h1>Take a moment to discover the FT</h1>
				</header>
				<p>Select the content that most interests you, from curated newsletters to podcasts and more.</p>
			</div>
			<div class="o-banner__content o-banner__content--short">
				<header class="o-banner__heading">
				<h1>Take a moment to discover the FT</h1>
				</header>
				<p>Select the content that most interests you, from curated newsletters to podcasts and more.</p>
			</div>
			<div class="o-banner__actions">
				<div class="o-banner__action">
				<a href="https://www.ft.com/activate/bundles" class="o-banner__button">Pick my content</a>
				</div>
			</div>
			</div>
		</div>
	</div>
</div>