<div class="n-messaging-client-messaging-banner">
	{{#> n-messaging-client/server/templates/components/o-banner
		themeCompact=true
		renderOpen=true
		suppressCloseButton=true
	}}
	<div class="o-banner__inner" data-o-banner-inner="" data-o-banner-inner="">
		<div class="o-banner__content">
			<header class="o-banner__heading">
				<h1>ASI Cancellation</h1>
			</header>
			<p>
				Aberdeen Standard Investment’s corporate subscription has now ended. If you would like to explore alternative subscription options, please reach out to <a href="mailto:henry.brazier@ft.com">henry.brazier@ft.com</a>.
			</p>
		</div>
	</div>
	{{/n-messaging-client/server/templates/components/o-banner}}
</div>
