<div class="n-messaging-client-messaging-banner">
	{{#> n-messaging-client/server/templates/components/o-banner
		themeCompact=true
		renderOpen=true
		suppressCloseButton=true
	}}
	<div class="o-banner__inner" data-o-banner-inner="" data-o-banner-inner="">
		<div class="o-banner__content">
			<header class="o-banner__heading">
				<h1>ASI Cancellation</h1>
			</header>
			<p>
				Aberdeen Standard Investments has decided not to renew their corporate subscription to FT.com. From the 1st of November, you will no longer have full access.
			</p>
		</div>
		<div class="o-banner__actions">
			<div class="o-banner__action">
				<a href="https://enterprise.ft.com/en-gb/asl-cancellation-notice/" class="o-banner__button">
					Keep my access
				</a>
			</div>
		</div>
	</div>
	{{/n-messaging-client/server/templates/components/o-banner}}
</div>
