<div class="n-messaging-client-messaging-banner n-messaging-client-messaging-banner--secret-content">
	{{#> n-messaging-client/server/templates/components/o-banner
		themeCompact=true
		renderOpen=true
		closeLabel="Close the Danske Bank cancellation promotional banner"
	}}
	<div class="o-banner__inner" data-o-banner-inner="" data-o-banner-inner="">
		<div class="o-banner__content">
			<header class="o-banner__heading">
				<h1>Danske Bank A/S cancellation</h1>
			</header>
			<p>Danske Bank has decided not to renew their corporate subscription to FT.com. If you have any questions about this please contact your central procurement team. If you have any FT related questions and would like to discuss options please contact your FT Account Manager at suzanne.tahmassebi@ft.com.
			</p>
		</div>
		<div class="o-banner__actions">
			<div class="o-banner__action">
				<a href="mailto: suzanne.tahmassebi@ft.com" class="o-banner__button">Keep my access</a>
			</div>
		</div>
	</div>
	{{/n-messaging-client/server/templates/components/o-banner}}
</div>