<div class="n-messaging-client-messaging-banner n-messaging-client-messaging-banner--customer-care-call">
	{{#> n-messaging-client/server/templates/components/o-banner
		renderOpen=true
		small=true
		themeProduct=true
	}}
		<div class="o-banner__inner" data-o-banner-inner>
			<div class="o-banner__content">
				<header class="o-banner__heading">
				<h1>Finding everything you need?</h1>
				</header>
				<p>Find the most relevant content to you and personalise your alerts with a complimentary call to guide you through FT.com & the FT App</p>
			</div>
			<div class="o-banner__actions">
				<div class="o-banner__action n-messaging-client-messaging-banner--customer-care-call__book-now-action">
				<a href="https://financialtimes.10to8.com/" class="o-banner__button" name="book-now" target="_blank" rel="noopener noreferrer">Book now</a>
				</div>
			</div>
		</div>
	{{/n-messaging-client/server/templates/components/o-banner}}
</div>
