<div class="n-messaging-client-messaging-banner n-messaging-client-messaging-banner--jan-22-digital-sale-slider">
	{{#> n-messaging-client/server/templates/components/o-banner
	renderOpen=false
	closeLabel="Close the 'Limited time offer' banner"
	small=true
	}}
	<div class="o-banner__inner" data-o-banner-inner="" data-o-banner-inner="">
		<div class="o-banner__content o-banner__content--long">
			<header class="o-banner__heading n-messaging-banner__heading">
				<h1>Limited time offer</h1>
			</header>
			<p>Save on digital access until February 4th:</p>
			<ul>
				<li>Opinion & Analysis from leading business experts</li>
				<li>Market-moving news, politics, tech, the arts and more</li>
				<li>The Road to Recovery: analysis on business and the economy in a world transformed by the pandemic</li>
			</ul>
		</div>
		<div class="o-banner__content o-banner__content--short">
			<header class="o-banner__heading n-messaging-banner__heading">
				<h2 id="n-messaging-banner-aria-label">Limited time offer</h2>
			</header>
			<p id="n-messaging-banner-aria-description">Save on digital access until February 4th.</p>
		</div>
		<div class="o-banner__actions">
			<div class="o-banner__action">
				<a class="o-banner__button" data-n-messaging-banner-action="" data-trackable="onsite-message-button"
					href="https://www.ft.com/products?segmentId=19dc305c-d9dd-22c6-6c05-6dbd76417fd7">Subscribe Now</a>
			</div>
		</div>
	</div>
	{{/n-messaging-client/server/templates/components/o-banner}}
</div>
