<div role="dialog" aria-labelledby="o-cookie-message-label" aria-describedby="o-cookie-message-description"
    class="o-cookie-message o-cookie-message--active n-messaging-postActivationJourney">
    <div class="o-cookie-message__outer">
        <div class="o-cookie-message__inner">
            <div class="o-cookie-message__content">
                <p>Take a moment to tell us about your sign up experience?</p>
            </div>
            <div class="o-cookie-message__actions">

                <div class="o-cookie-message__action">
                    <a href="https://survey.ft.com/jfe/form/SV_8BLQylXVJFXxXn"
                        class="o-cookie-message__button">
                        Leave Feedback
                    </a>
                </div>
                <div>
                    <a href="https://www.ft.com/" class="n-messaging-postActivationJourney--action" data-o-banner-action=""
                        data-o-banner-action-type="manage">No, thanks</a>
                </div>
            </div>
        </div>
    </div>
</div>