<div class="n-alert-banner n-alert-banner--alert-bleed {{#if noCloseButton}}close-button-inner{{/if}} {{#unless renderOpen}}n-alert-banner--closed{{/unless}} n-alert-banner--{{theme}}{{#if customClass}} {{customClass}}{{/if}}" data-n-messaging-component="" data-n-alert-banner-auto-open="false" {{#if customDataTrackableBanner}}data-trackable="{{customDataTrackableBanner}}"{{/if}}>
	<div class="n-alert-banner__container">
		<div class="n-alert-banner__content">
			<p class="n-alert-banner__content-main">
				<span class="n-alert-banner__content-highlight n-alert-banner__anything">{{contentHighlight}}</span>
				<span class="n-alert-banner__content-detail">{{contentDetail}}</span>
			</p>
			<div class="n-alert-banner__actions" data-n-messaging-alert-banner-action="">
				{{#if buttonUrl}}
					<a href="{{buttonUrl}}" class="n-alert-banner__actions__primary" data-n-alert-banner-banner-action="">{{buttonLabel}}</a>
				{{/if}}
				{{#if linkUrl}}
				<a href="{{linkUrl}}" class="n-alert-banner__actions__secondary" data-n-alert-banner-banner-action="">{{linkLabel}}</a>
				{{/if}}
			</div>
		</div>
	</div>
</div>
